@import '_variables';
@import '_mixins';
@import '_carouselSettings';


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
}

html {
	scroll-behavior: smooth;
}

.mainPage {
	height: 101vh;
	& .navbar {
		background-image: linear-gradient(rgb(44, 58, 92), $b);
		z-index: 5;
		& .fixed {
			position: absolute;
			top: 0;
			padding: 19px 24px 20px 20px;
			background-color: $w;
			z-index: 1;
		}
		& .navbar-nav a {
			font-size: 21px;
			color: $w;
		}
		& .collapse {
			height: 47px;
			margin: 20px 0 4px 0;
			& .navbar-nav {
				& .nav-item .nav-link {
					padding: 0;
					margin-left: 44.5px;
				}
				& .form-inline img {
					margin-left: 10px;
				}
			}
		}
	}
	& .form-inline {
		position: absolute;
		top: 33px;
		right: 23px;
		z-index: 5;
		& .form-control {
			width: 150px;
		}
		& a img {
			margin-left: 10px;
		}
	}
	& .active {
		opacity: 0;
	}
	& .slider {
		position: relative;
		top: -55px;
		height: 100%;
		overflow: hidden;
		&-img {
			width: 100%;
			height: 100%;
		}
		& .main {
			@include positionA($top: 68%, $left:50%);
			transform: translate(-50%, -50%);
			color: $w;
			text-shadow: 2px 5px 5px #414141;
			font-weight: bold;
			& p:nth-child(1) {
				text-align: left;
				margin-bottom: -29px;
				font-size: 49px;
				font-weight: bold;
			}
			& p:nth-child(2) {
				margin-top: 15px;
				text-align: right;
				font-size: 45px;
				letter-spacing: 2px;
			}
			& p:nth-child(3) {
				text-align: right;
				font-size: 24px;
				letter-spacing: 1px;
				margin-bottom: 240px;
				& a {
					color: $w;
					text-decoration: none;
				}
			}
			& .dots {
				& .rectangle-left {
					display: flex;
					justify-content: flex-end;
					margin-bottom: 15px;
					padding-right: 0px;
				}
				& .rectangles-right {
					display: flex;
					justify-content: space-between;
				}
				& .rectangle {
					display: inline-block;
					margin-left: 8px;
					width: 38px;
					height: 14px;
					background-color: $w;
					cursor: pointer;
					&.activeSlider {
						background-color: $b;
					}
				}
				& .newsletter {
					padding-right: 0;
					& .panel {
						display: flex;
						align-items: center;
						height: 90%;
						padding: 5px 0;
						background-color: $w;
						& span {
							margin-right: 10px;
							font-size: 20px;
							color: $b;
							letter-spacing: 1px;
							text-shadow: none;
						}
						& input {
							width: 370px;
							padding: 3px 0;
							padding-left: 7px;
							border: 1px solid #ccc;
							font-weight: bold;
							color: $b;
							&::placeholder {
								color: $b;
							}
						}
					}
				}
				& .btn-right {
					display: flex;
					justify-content: flex-end;
					& .btnZapisz {
						width: 94%;
						height: 90%;
						@include flex-centerAll;
						font-size: 20px;
						background-color: $w;
						text-shadow: none;
						color: $b;
						border: none;
						cursor: pointer;
					}
				}
			}
		}
	}
	& .left-menu {
		@include positionA($top:0, $left:0);
		display: flex;
		height: 120%;
		& .menu-content {
			padding: 170px 0 0 52px;
			font-size: 21px;
			background-color: $w;
			z-index: 4;
			& .imgNavLeft {
				display: none;
			}
			& li {
				margin: 1.5px 0;
				list-style: none;
				cursor: pointer;
				& a {
					color: $b;
					text-decoration: none;
				}
			}
			& .borderFixed {
				margin-top: -9px;
			}
			.borderFixed1 {
				margin-top: 5px;
			}
			.borderFixed2 {
				margin-top: 5px;
			}
			& .socials {
				margin-top: -9px;
				& .fb {
					margin-bottom: 18px;
				}
				& .fb,
				.in {
					cursor: pointer;
				}
			}
		}
		& .hide {
			position: absolute;
			left: 100px;
			height: 100%;
			width: 115px;
			box-shadow: 10px 0 5px -10px rgb(196, 193, 193);
			background-color: $w;
			& img {
				position: absolute;
				top: 44%;
				margin-left: 75px;
				padding: 5px;
			}
			& .text {
				position: absolute;
				top: 46%;
				margin-left: 65px;
				font-size: 15px;
				color: $b;
				z-index: 5;
			}
		}
	}
}

.sections {
	& .branze {
		position: relative;
		z-index: 5;
		overflow: hidden;
		& .container {
			& .title {
				@include flex-centerAll;
				padding: 51px 0 34px 0;
				margin-left: -9px;
				& span {
					font-size: 27px;
					margin-left: 22px;
				}
			}
			& .content {
				padding: 20px 0 72px 0;
				& .column {
					& .parent {
						position: relative;
						width: 314px;
						height: 149px;
						margin: 22px 0;
						& a {
							text-decoration: none;
							color: $w;
							& .behind {
								position: absolute;
							}
							& .after {
								position: absolute;
								opacity: 0.85;
							}
							&:hover .after {
								opacity: 0.5;
							}
							& .child {
								@include transformCenter;
								font-size: 20px;
								width: 100%;
								font-weight: bold;
								text-align: center;
								letter-spacing: 1px;
							}
						}
					}
					& .textUnder {
						& p {
							margin-top: -4px;
							font-size: 16.5px;
							text-align: justify;
							line-height: 1.25;
						}
					}
				}
			}
		}
	}
	& .produkty {
		overflow: hidden;
		& .container {
			& .title {
				@include flex-centerAll;
				padding: 38px 0 47px 0;
				margin-left: -5px;
				& span {
					font-size: 26px;
					margin-left: 19px;
					letter-spacing: 1px;
					font-weight: bold;
				}
			}
			& .content {
				margin-top: 50px;
				& .column {
					margin-bottom: 33px;
					& .parent {
						position: relative;
						padding-bottom: 2px;
						& img {
							width: 110%;
							height: 110%;
							margin-left: -17px;
						}
						& .child {
							position: absolute;
							top: 45%;
							left: 45%;
							transform: translate(-50%, -50%);
							font-size: 19px;
							width: 100%;
							text-align: center;
							& a {
								text-decoration: none;
								color: $w;
								font-weight: bold;
								padding: 30px 0;
							}
						}
					}
					& .textUnder {
						line-height: 1.25;
						font-size: 21px;
						color: $b;
						text-align: justify;
						& .textIndent {
							font-size: 21px;
							text-indent: 30px;
						}
					}
				}
			}
			& .down {
				margin-bottom: 85px;
			}
		}
	}
	& .uslugi {
		& .container {
			& .title {
				@include flex-centerAll;
				padding: 47px 0 38px 0;
				margin-left: 8px;
				& span {
					font-size: 30px;
					margin-left: 16px;
				}
			}
			& .content {
				& .column {
					& .parent {
						text-align: center;
						padding: 50px 0;
						& img {
							margin-bottom: 12px;
						}
						& .child {
							display: block;
							font-size: 16px;
							& a {
								padding-top: 95px;
								text-decoration: none;
								color: $w;
							}
						}
					}
					& .textUnder {
						margin: 25px 0 55px 0;
						& p {
							text-align: justify;
							font-size: 21px;
							line-height: 1.2;
						}
					}
				}
				& .first {
					padding: 10px 0 0 100px;
					& .parent:last-child span {
						width: 120%;
						text-align: center;
						margin-left: -30px;
					}
				}
				& .second {
					padding: 100px 0 0 20px;
				}
				& .third {
					padding: 23px 80px 0 0;
					& .parent:last-child {
						margin: 42px 0 0 25px;
					}
				}
			}
		}
	}
	& .aktualnosci {
		& .container {
			& .title {
				@include flex-centerAll;
				padding: 45px 0 33px 0;
				margin-left: -10px;
				& span {
					font-size: 30px;
					margin-left: 15px;
					letter-spacing: 1px;
				}
			}
		}
		& .newsA {
			margin: 125px 0 30px 0;
			& .customer-logos-a {
				& .slide {
					margin-left: 22px;
					& .news {
						margin-bottom: 33px;
					}
					& div {
						& p {
							font-size: 13px;
							line-height: 1;
						}
					}
					& a {
						color: $b;
						& img {
							padding-bottom: 9px;
						}
						& p {
							font-size: 13px;
						}
					}
				}
			}
		}
	}
	& .kontakt {
		margin: 25px 0 30px 0;
		& .customer-logos-k {
			& .slide {
				margin-left: 42px;
			}
		}
		& .container {
			max-width: 870px;
			& .title {
				@include flex-centerAll;
				padding: 48px 0 40px 0;
				margin-left: 8px;
				& span {
					font-size: 30px;
					margin-left: 8px;
					letter-spacing: 1px;
				}
			}
			& .content {
				width: 910px;
				padding: 35px 0 16px 0;
				line-height: 1.25;
				& .slick-arrow img {
                    display: none;
				}
				& p {
					font-size: 16px;
				}
				& span {
					font-size: 16px;
					& a {
						text-decoration: none;
						color: $w;
					}
				}
				&:nth-child(2),
				&:nth-child(3) {
					display: flex;
					justify-content: flex-end;
				}
				&:nth-child(1) {}
				&:nth-child(2) {}
				&:nth-child(3) {
					margin-left: -40px;
				}
			}
			& .contentDown {
				margin-top: 30px;
				margin-bottom: 15px;
				padding-left: 27px;
				& .form {
					& .firstP {
						text-align: right;
						font-size: 16px;
						margin-bottom: 22px;
					}
					& .form-control {
						border-radius: 0;
						text-align: right;
						height: 30px;
						margin-left: -20px;
						width: 410px;
					}
					& textarea.form-control {
						height: 86px;
					}
					& .columns {
						display: flex;
						& .options {
							margin: -3px 0 0 -20px;
							& p {
								margin-bottom: 12px;
							}
							& .inline {
								display: flex;
								& input[type=checkbox] {
									transform: scale(1.8);
									margin-left: -17px;
								}
								& div label {
									margin-left: 10px;
								}
								& div:first-child label {
									margin-right: 25px;
								}
							}
						}
						& .submitBtn {
							display: flex;
							margin-bottom: 20px;
							margin-left: 30px;
							& button {
								padding: 0 38px;
								color: #495057;
								background-color: $w;
								border: none;
							}
						}
					}
				}
				& .social {
					& p {
						font-size: 16px;
						text-align: right;
					}
					& .positionY {
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: space-between;
						height: 100%;
						padding: 6px 0 67px 20px;
						& a img {
							margin-bottom: -9px;
						}
					}
				}
				& .info {
					.pull-right {
						margin-left: 20px;
						& p {
							font-size: 17px;
							line-height: 1.2;
						}
						& .parent {
							text-align: left;
							& p:nth-child(2) {
								padding: 28px 0 62px 0;
							}
						}
					}
				}
			}
			& .carouseltHide {
				display: none;
			}
			& .kontaktHide {
				display: none;
			}
			& .upScroll {
				text-align: center;
				padding: 4px 0;
				& p {
					& a {
						text-decoration: none;
						color: $w;
					}
				}
			}
		}
	}
}

.footer {
	padding: 10px 0 15px 0;
	width: 1000px;
}

.container {
	max-width: 1030px;
}

.blueBgc {
	background-color: $b;
	color: $w;
}

.blueTxt {
	color: $b;
}



@import '_responsive';